//
//  _breadcrumb.scss
//

.breadcrumb {
    display:            flex;
    flex-wrap:          wrap;
    font-family: 'Titillium Web';

    .breadcrumb-item:not(:first-child)::before {
        content:        $breadcrumb-separator-icon;
        color:          $breadcrumb-separator-color;
        font-family:    $breadcrumb-separator-font;
        font-size:      $breadcrumb-separator-size;
        margin-right:   $breadcrumb-separator-margin;
        vertical-align: middle;
    }

    .breadcrumb-item::after {
        content:        "";
        margin-left:    $breadcrumb-separator-margin;
    }
}
