//
//  _buttons.scss
//

@function build-color-pair($color, $invert) {
  @return (value: $color, invert: $invert);
}

@function get-color($color) {
  @return map-get(map-get($colors, $color), value);
}

@function get-invert($color) {
  @return map-get(map-get($colors, $color), invert);
}

$colors: (
  red: build-color-pair(hsl(348, 100%, 61%), $color-white),
  blue: build-color-pair(hsl(217, 71%, 53%), $color-white),
  yellow: build-color-pair(hsl(48, 100%, 67%), $color-dark),
  green: build-color-pair(hsl(141, 53%, 53%), $color-white),
  gray: build-color-pair($color-lighter, $color-dark),
  turquoise: build-color-pair(hsl(171, 100%, 41%), $color-white),
) !default;

$button-padding: 0.5em 1em !default;
$button-border-radius: 0.25em !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-transition-duration: 0.2s !default;
$button-cursor: pointer !default;
$button-disabled-cursor: not-allowed !default;
$button-disabled-background-color: transparentize($color-white, 0.6) !default;

.button {
  appearance: none;
  user-select: none;
  border-color: transparent;
  border-width: $button-border-width;
  border-style: $button-border-style;
  outline: none;
  padding: $button-padding;
  border-radius: $button-border-radius;
  transition: border, box-shadow, background-color;
  transition-duration: $button-transition-duration;

  &[disabled] {
    position: relative;
    cursor: $button-disabled-cursor;
    &::after {
      content: "";
      position: absolute;
      top: -$button-border-width;
      right: -$button-border-width;
      bottom: -$button-border-width;
      left: -$button-border-width;
      background-color: $button-disabled-background-color;
    }
  }

  &:not([disabled]) {
    cursor: $button-cursor;
  }
}

.button-primary {
  @include create-button(get-color(turquoise), get-invert(turquoise));
}

.button-secondary {
  @include create-button(
    get-color(gray),
    get-invert(gray),
    $outlined-background-color: white,
    $outlined-foreground-color: get-invert(gray)
  );
}

.button-success {
  @include create-button(
    get-color(green),
    get-invert(green)
  );
}

.button-warning {
  @include create-button(
    get-color(yellow),
    get-invert(yellow),
    $outlined-background-color: white,
    $outlined-foreground-color: get-invert(yellow)
  );
}

.button-danger {
  @include create-button(
    get-color(red),
    get-invert(red)
  );
}

.button-info {
  @include create-button (
    get-color(blue),
    get-invert(blue)
  );
}
