//
//  _color.scss
//

.color-black {
  color: $color-black;
}

.color-black-2 {
  color: $color-black-2;
}

.color-black-3 {
  color: $color-black-3;
}

.color-darkest {
  color: $color-darkest;
}

.color-darker {
  color: $color-darker;
}

.color-dark {
  color: $color-dark;
}

.color-dark-2 {
  color: $color-dark-2;
}

.color-light-2 {
  color: $color-light-2;
}

.color-light {
  color: $color-light;
}

.color-lighter {
  color: $color-lighter;
}

.color-lightest {
  color: $color-lightest;
}

.color-white-3 {
  color: $color-white-3;
}

.color-white-2 {
  color: $color-white-2;
}

.color-white {
  color: $color-white;
}

.background-black {
  background-color: $color-black;
}

.background-black-2 {
  background-color: $color-black-2;
}

.background-black-3 {
  background-color: $color-black-3;
}

.background-darkest {
  background-color: $color-darkest;
}

.background-darker {
  background-color: $color-darker;
}

.background-dark {
  background-color: $color-dark;
}

.background-dark-2 {
  background-color: $color-dark-2;
}

.background-light-2 {
  background-color: $color-light-2;
}

.background-light {
  background-color: $color-light;
}

.background-lighter {
  background-color: $color-lighter;
}

.background-lightest {
  background-color: $color-lightest;
}

.background-white {
  background-color: $color-white;
}

.background-white-2 {
  background-color: $color-white-2;
}

.background-white-3 {
  background-color: $color-white-3;
}
