//
//  _defaults.scss
//

// Grid

$breakpoints: (
    sm: 48em,
    md: 64em,
    lg: 75em,
    xl: 90em
) !default;

$columns:                   12 !default;
$base-margin:               0.5rem !default;
$margins:                   8 !default;

// Text

// Text sizes
$text-size-1:               2.5rem !default;
$text-size-2:               2.0rem !default;
$text-size-3:               1.75rem !default;
$text-size-4:               1.5rem !default;
$text-size-5:               1.25rem !default;
$text-size-6:               1.0rem !default;

// Title sizes
$title-extra:               6.0rem !default;
$title-huge:                5.0rem !default;
$title-large:               4.5rem !default;
$title-medium:              3.0rem !default;

// Paragraph values
$paragraph-margin:          1.0em !default;
$paragraph-weight:          400 !default;
$paragraph-line-height:     1.5 !default;

// Title values
$title-weight:              600 !default;
$title-margin:              1.0em !default;

// Font stacks
$sans-serif:                'Titillium Web', Helvetica, sans-serif !default;
$serif:                     serif !default;
$monospace:                 Monaco, 'Source Code Pro', monospace !default;
$font-stack:                $sans-serif !default;

// Layout

// Container margin
$container-margin-small:    1.0em !default;
$container-margin-normal:   2.0em !default;
$container-margin-medium:   3.0em !default;
$container-margin-large:    4.0em !default;

// Section padding
$section-padding-small:     1.5rem !default;
$section-padding-normal:    3.0rem !default;
$section-padding-medium:    9.0rem !default;
$section-padding-large:     15.0rem !default;
$section-padding-huge:      20.0rem !default;

// Block margin
$block-margin:              2.0rem !default;

// Colors
$white:                     #ffffff !default;
$black:                     #000000 !default;
$darkgrey:                  #304455 !default;
$lightgrey:                 #778899 !default;

// Border
$border-width:              1px !default;
$border-style:              solid !default;

// List
$list-left-margin:          2rem !default;
$list-bottom-margin:        1em !default;
$list-item-margin:          1rem !default;

// Table
$table-text-align:          left !default;
$table-data-padding:        0.75rem 1rem !default;
$table-split-width:         3px !default;
$table-split-style:         solid !default;
$table-split-color:         #e5e5e5 !default;
$table-border-width:        1px !default;
$table-border-style:        solid !default;
$table-border-color:        #e5e5e5 !default;
$table-background-color:    #f6f6f6 !default;

// Code
$code-background-color:     #f6f6f6 !default;
$code-padding:              1rem !default;
$code-border-radius:        0.25rem !default;
$code-border-width:         1px !default;
$code-border-style:         solid !default;
$code-border-color:         #e5e5e5 !default;
$code-line-height:          1.5 !default;

// Helpers
$helper-sizes: (
    0: 0.0rem,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1.0rem,
    5: 1.5rem,
    6: 2.0rem,
) !default;
$helper-types: (
    margin:     m,
    padding:    p,
    border-radius: r
) !default;
$helper-directions: (
    top:        t,
    right:      r,
    bottom:     b,
    left:       l,
    horizontal: h,
    vertical:   v,
    both:       ""
) !default;
