//
//  _defaults.scss
//

// Grid

$breakpoints: (
  sm: 48em,
  md: 64em,
  lg: 75em,
  xl: 90em,
) !default;

$columns: 12 !default;
$base-gap: 0.5rem !default;
$default-gap: 1rem !default;
$gaps: 8 !default;

// Colors
$base-color: 0, 0 !default;

$black: 5% !default;
$black-3: 8% !default;
$black-2: 10% !default;

$darkest: 14% !default;
$darker: 21% !default;
$dark: 28% !default;
$dark-2: 35% !default;

$light-2: 70% !default;
$light: 77% !default;
$lighter: 84% !default;
$lightest: 91% !default;

$white-2: 96% !default;
$white-3: 98% !default;
$white: 100% !default;

$color-black: color($black) !default;
$color-black-2: color($black-2) !default;
$color-black-3: color($black-3) !default;

$color-darkest: color($darkest) !default;
$color-darker: color($darker) !default;
$color-dark: color($dark) !default;
$color-dark-2: color($dark-2) !default;

$color-light-2: color($light-2) !default;
$color-light: color($light) !default;
$color-lighter: color($lighter) !default;
$color-lightest: color($lightest) !default;

$color-white-3: color($white-3) !default;
$color-white-2: color($white-2) !default;
$color-white: color($white) !default;

$colors: (
  red: build-color-pair(hsl(351, 100%, 64%), $color-white),
  blue: build-color-pair(hsl(215, 97%, 52%), $color-white),
  yellow: build-color-pair(hsl(54, 98%, 53%), $color-dark),
  green: build-color-pair(hsl(137, 60%, 53%), $color-white),
  gray: build-color-pair($color-lighter, $color-dark),
  turquoise: build-color-pair(hsl(166, 54%, 52%), $color-white),
) !default;

// Text
$text-color: $color-darkest !default;

$line-height: 1.5 !default;
$paragraph-line-height: 1.5 !default;
$code-inline-line-height: 1.5 !default;
$code-block-line-height: 1.75 !default;

// Text sizes
$text-size-1: 2.5rem !default;
$text-size-2: 2rem !default;
$text-size-3: 1.75rem !default;
$text-size-4: 1.5rem !default;
$text-size-5: 1.25rem !default;
$text-size-6: 1.125rem !default;
$text-size-7: 1rem !default;
$text-size-8: 0.75rem !default;

// Title sizes
$title-extra: 6rem !default;
$title-huge: 5rem !default;
$title-large: 4rem !default;
$title-medium: 3rem !default;
$title-small: 2.5rem !default;

// Paragraph values
$paragraph-margin: 1em !default;
$paragraph-weight: 400 !default;
$text-negative-margin: -0.33em !default;

// Link values
$link-color: get-color(blue);

// Title values
$title-weight: 600 !default;
$title-margin: 1em !default;

// Font stacks
$sans-serif: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !default;

$serif: "Cambria", "Hoefler Text", "Utopia", "Liberation Serif",
  "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif !default;

$monospace: SFMonoRegular, "Menlo", "Monaco", "Source Code Pro",
  "Liberation Mono", "Courier new", monospace !default;

$font-stack: $sans-serif !default;

// Layout

// Container margin
$container-margin-small: 1em !default;
$container-margin-normal: 2em !default;
$container-margin-medium: 3em !default;
$container-margin-large: 4em !default;

// Section padding
$section-padding-small: 1.5rem !default;
$section-padding-normal: 3rem !default;
$section-padding-medium: 9rem !default;
$section-padding-large: 15rem !default;
$section-padding-huge: 20rem !default;

// Block margin
$block-margin: 2rem !default;
$block-margin-small: 1rem !default;
$block-margin-large: 3rem !default;

// List
$list-indent-size: 2rem !default;
$list-bottom-margin: 1em !default;
$list-item-margin: 1rem !default;

// Table
$table-text-align: left !default;
$table-col-padding: 0.75rem 1rem !default;
$table-split-width: 3px !default;
$table-split-style: solid !default;
$table-split-color: $color-lighter !default;
$table-border-width: 1px !default;
$table-border-style: solid !default;
$table-border-color: $color-lighter !default;
$table-background-color: $color-white-2 !default;

// Code
$code-background-color: $color-white-3 !default;
$code-color: $text-color !default;
$code-padding: 0.2rem 0.33rem !default;
$code-border-radius: 0.25rem !default;
$code-border-width: 1px !default;
$code-border-style: solid !default;
$code-border-color: $color-lightest !default;
$code-block-padding: 0.5rem 0.75rem !default;

$transition-duration: 0.2s !default;

// Form
$form-item-margin: 1rem !default;
$form-transition-duration: $transition-duration !default;

$label-margin-v: 0.5rem !default;
$label-margin-h: 0.5rem !default;

$input-border-color: $color-lighter !default;
$input-border-style: solid !default;
$input-border-width: 1px !default;

$input-background-color: $color-white !default;
$input-disabled-background-color: $color-lightest !default;

$text-input-color: $text-color !default;
$text-input-disabled-color: $color-dark-2 !default;

$text-input-placeholder-color: $light !default;
$text-input-disabled-placeholder-color: $color-light-2 !default;

$input-hover-border-color: $color-light !default;
$input-focus-border-color: #41c6a7 !default;
$input-focus-shadow-color: #41c6a744 !default;
$input-focus-shadow-size: 0.2rem !default;

$text-input-border-radius: 0.25rem !default;
$text-input-padding: 0.75em !default;
$text-input-height: 2.5em !default;

$select-icon-size: 0.5rem !default;
$select-icon-width: 3px !default;
$select-icon-color: $color-dark;

$optgroup-margin: 0.5rem !default;
$option-padding-h: 0.5rem !default;
$option-padding-v: 0.75rem !default;

$textarea-padding: 0.75rem !default;
$textarea-min-height: 7.5rem !default;

$radiocheck-margin: 0.5rem !default;
$radiocheck-size: 1rem !default;
$radiocheck-size-medium: 1.25rem !default;
$radiocheck-size-large: 1.5rem !default;
$radiocheck-size-huge: 2rem !default;
$radiocheck-checked-background-color: #41c6a7 !default;
$radiocheck-color: $color-white !default;
$radio-border-radius: 50% !default;
$checkbox-border-radius: 0.15rem !default;

$figcaption-background-color: $color-white-2 !default;
$figcaption-color: $text-color !default;
$figcaption-padding: 0.75rem 1rem !default;

// Buttons

$primary-button-background: get-color(turquoise) !default;
$primary-button-color: get-invert(turquoise) !default;

$secondary-button-background: get-color(gray) !default;
$secondary-button-color: get-invert(gray);

$success-button-background: get-color(green) !default;
$success-button-color: get-invert(green) !default;

$warning-button-background: get-color(yellow) !default;
$warning-button-color: get-invert(yellow) !default;

$danger-button-background: get-color(red) !default;
$danger-button-color: get-invert(red) !default;

$info-button-background: get-color(blue) !default;
$info-buttoin-color: get-invert(blue) !default;

$button-padding: 0.5em 1em !default;
$button-border-radius: 0.25em !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-transition-duration: 0.2s !default;
$button-cursor: pointer !default;
$button-disabled-cursor: not-allowed !default;
$button-disabled-background-color: transparentize($color-white, 0.6) !default;
$button-hover-darken-amount: 3.5% !default;
$button-active-darken-amount: 7% !default;
$button-focus-transparency: 0.6 !default;
$button-transition-duration: $transition-duration !default;

// Breadcrumb
$breadcrumb-line-height:        2srem !default;
$breadcrumb-separator-icon:     "/" !default;
$breadcrumb-separator-color:    $color-dark-2 !default;
$breadcrumb-separator-margin:   0.75em !default;
$breadcrumb-separator-size:     1em !default;
$breadcrumb-separator-font:     'FontAwesome' !default;

// Helpers

$margin-helper-name: m !default;
$margin-helper-values: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
) !default;

$padding-helper-name: p !default;
$padding-helper-values: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
) !default;

$border-radius-helper-name: r !default;
$border-radius-helper-values: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
  circlular: 50%,
  full: 1e10px,
) !default;

$width-helper-name: w !default;
$width-helper-values: (
  0: 0,
  one-quarter: 25%,
  one-third: 100% / 3,
  half: 50%,
  two-thirds: 100% / 3 * 2,
  three-quarters: 75%,
  full: 100%,
) !default;

$height-helper-name: h !default;
$height-helper-values: (
  0: 0,
  full: 100%
) !default;

$position-helper-name: p !default;
$position-helper-values: (
  left: left,
  center: center,
  right: right
) !default;

$display-helper-name: d !default;
$display-helper-values: (
  inline: inline,
  inline-block: inline-block,
  block: block,
  flex: flex,
  inline-flex: inline-flex,
) !default;
$default-display: block !default;

$visibility-helper-name: v !default;

$overflow-helper-name: o !default;
$overflow-helper-values: (
  auto: auto,
  hidden: hidden,
) !default;

$helper-direction-h: h !default;
$helper-direction-v: v !default;
$helper-direction-top: t !default;
$helper-direction-right: r !default;
$helper-direction-bottom: b !default;
$helper-direction-left: l !default;

$border-width-1: 1px !default;
$border-width-2: 2px !default;
$border-width-3: 3px !default;
$border-width-4: 4px !default;
$border-width-5: 5px !default;
$border-style: solid !default;
