$breakpoints: (
    sm: 768px,
    md: 1024px,
    lg: 1200px,
    xl: 1440px
) !default;

$columns: 12 !default;

$base-margin: 0.5rem !default;
$margins: 8 !default;

$paragraph-line-height:    1.5 !default;
$paragraph-margin:          1.0em !default;

$heading-margin:    1.0em !default;

$heading-size-1:    3.6rem !default;
$heading-size-2:    3.0rem !default;
$heading-size-3:    2.6rem !default;
$heading-size-4:    2.0rem !default;
$heading-size-5:    1.67rem !default;
$heading-size-6:    1.33rem !default;

$heading-weight:    600 !default;
$subheading-weight: 300 !default;
