.figure {
    display: table;

  .image {
        display: block;
    }

  .figcaption {
    background-color: $figcaption-background-color;
    color: $figcaption-color;
    padding: $figcaption-padding;

    display: table-caption;
    caption-side: bottom;
  }
}
