.form-entry {
    margin-bottom: $form-entry-margin;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &.indent label {
        margin-left: $label-margin;
    }

    label {
        display: inline-block;
        margin-bottom: $label-margin;
    }

    input,
    textarea,
    select {
        outline: none;
        background-color: white;
    }

    select {
        appearance: none;
    }

    &.select::after {
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-top: 3px solid #304455;
        border-right: 3px solid #304455;
        position: absolute;
        right: 0;
        top: 0.75rem;
        margin-right: 1rem;
        transform: rotate(135deg);
    }

    .text-field,
    textarea {
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: $input-border-radius;
        padding: 0 $input-padding;
        transition: box-shadow 0.2s;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 100%;

        &:hover {
            border-color: #999999;
        }

        &:focus {
            border-color: #41c6a7;
            box-shadow: 0 0 0 0.2rem #41c6a744;
        }
    }

    .text-field {
        height: $input-height;
    }

    textarea {
        padding: $input-padding;
        max-width: 100%;
        resize: none;
        
        &:not([rows]) {
            min-height: $textarea-min-height;
        }
    }

    select[multiple] {
        overflow: auto;
        height: unset;
        min-height: $input-height;
    
        optgroup {
            margin: $optgroup-margin 0;
            option {
                padding: $option-padding-v $option-padding-h;
            }
        }

        option {
            padding: $option-padding-v $option-padding-h;
            margin: 0 -#{$option-padding-h};
        }
    }

    textarea,
    select[multiple] {
        &.resizable {
            resize: vertical;
        }
    }
}

.form-entry.radiocheck {
    input + label,
    label + input {
        margin-left: $radiocheck-margin;
    }

    label {
        margin-bottom: 0;
    }

    &.inline {
        display: inline-block;
        margin-right: $radiocheck-inline-margin;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-entry.radiocheck {
    input {
        appearance: none;
        width: $radiocheck-size;
        height: $radiocheck-size;
        position: relative;

        background-color: #e5e5e5;

        &.medium {
            width: $radiocheck-medium-size;
            height: $radiocheck-medium-size;
        }

        &.large {
            width: $radiocheck-large-size;
            height: $radiocheck-large-size;
        }

        &.huge {
            width: $radiocheck-huge-size;
            height: $radiocheck-huge-size;
        }

        // Common
        &:checked {
            background-color: $radiocheck-background-color;
        
            &::after {
                content: '';
                display: block;

                position: absolute;

                border-radius: inherit;
            }
        }

        &:focus {
                border-color: #41c6a7;
                box-shadow: 0 0 0 0.2rem #41c6a744;
        }

        &[disabled] {
            &::before {
                content: '';

                width: 100%;
                height: 100%;
                display: block;

                position: absolute;
                top: 0;
                left: 0;
                
                background-color: #ffffff99;
                z-index: 100;
                border-radius: inherit;
            }
        }
    
        // Radio
        &[type=radio] {
            border-radius: 50%;
        
            &:checked::after {
                width: 50%;
                height: 50%;
                
                top: 25%;
                left: 25%;

                background-color: $radiocheck-color;
            }
        }

        // Checkbox
        &[type=checkbox] {
            border-radius: 0.1rem;

            &:checked::after {
                width: 35%;
                height: 70%;

                top: 10%;
                left: 32.5%;

                border-radius: 0;
                border-right: 3px solid $radiocheck-color;
                border-bottom: 3px solid $radiocheck-color;
                transform: rotate(45deg);

                box-sizing: border-box;

                background-color: transparent;
            }
        }
    }
}
