.form-entry {
    margin-bottom: 1rem;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &.indent label {
        margin-left: 0.75rem;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select {
        outline: none;
        background-color: white;
    }

    select {
        appearance: none;
    }

    &.select::after {
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-top: 3px solid #304455;
        border-right: 3px solid #304455;
        position: absolute;
        right: 0;
        top: 0.75rem;
        margin-right: 1rem;
        transform: rotate(135deg);
    }

    .text-field,
    textarea {
        border: 1px solid #cccccc;
        border-radius: 0.25rem;
        padding: 0 0.75rem;
        transition: box-shadow 0.2s;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 100%;

        &:hover {
            border-color: #999999;
        }

        &:focus {
            border-color: #41c6a7;
            box-shadow: 0 0 0 0.2rem #41c6a744;
        }
    }

    .text-field {
        height: 2.5rem;
    }

    textarea {
        padding: 0.75rem;
        max-width: 100%;
        resize: none;
        
        &:not([rows]) {
            min-height: 7.5rem;
        }
    }

    select[multiple] {
        overflow: auto;
        height: unset;
        min-height: 2.5rem;
    
        optgroup {
            margin: 0.5rem 0;
            option {
                padding: 0.5rem 0.5rem;
            }
        }

        option {
            padding: 0.5rem 0.75rem;
            margin: 0 -0.75rem;
        }
    }

    textarea,
    select[multiple] {
        &.resizable {
            resize: vertical;
        }
    }
}

.form-entry.radiocheck {
    input + label,
    label + input {
        margin-left: 0.5rem;
    }

    label {
        margin-bottom: 0;
    }

    &.inline {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-entry.radiocheck {
    &.medium input {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.large input {
        width: 2rem;
        height: 2rem;
    }
    
    input {
        appearance: none;

        width: 1rem;
        height: 1rem;
        position: relative;

        background-color: #e5e5e5;

        // Common
        &:checked {
            background-color: #41c6a7;
        
            &::after {
                content: '';
                display: block;

                position: absolute;

                border-radius: inherit;
            }
        }

        &:focus {
                border-color: #41c6a7;
                box-shadow: 0 0 0 0.2rem #41c6a744;
        }

        &[disabled] {
            &::before {
                content: '';

                width: 100%;
                height: 100%;
                display: block;

                position: absolute;
                top: 0;
                left: 0;
                
                background-color: #ffffff99;
                z-index: 100;
                border-radius: inherit;
            }
        }
    
        // Radio
        &[type=radio] {
            border-radius: 50%;
        
            &:checked::after {
                width: 50%;
                height: 50%;
                
                top: 25%;
                left: 25%;

                background-color: white;
            }
        }

        // Checkbox
        &[type=checkbox] {
            border-radius: 0.1rem;

            &:checked::after {
                width: 35%;
                height: 70%;

                top: 10%;
                left: 32.5%;

                border-radius: 0;
                border-right: 3px solid white;
                border-bottom: 3px solid white;
                transform: rotate(45deg);

                box-sizing: border-box;

                background-color: transparent;
            }
        }
    }
}
