//
//  _helpers.scss
//

// Visibility and display modifiers
@include each-breakpoint() {
  @include global-property(#{$visibility-helper-name}-visible) {
    display: $default-display;
  }

  @include global-property(#{$visibility-helper-name}-hidden) {
    visibility: hidden;
  }

  @include global-property(#{$visibility-helper-name}-none) {
    display: none;
  }

  // Display helpers
  @each $name, $value in $display-helper-values {
    .#{$display-helper-name}-#{$name} {
      display: $value;
    }
  }
}

// Margin helpers
@each $name, $value in $margin-helper-values {
  .#{$margin-helper-name}-#{$name} {
    margin: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-v}-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-h}-#{$name} {
    margin-right: $value;
    margin-left: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-top}-#{$name} {
    margin-top: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-right}-#{$name} {
    margin-right: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-bottom}-#{$name} {
    margin-bottom: $value;
  }

  .#{$margin-helper-name}#{$helper-direction-left}-#{$name} {
    margin-left: $value;
  }
}

// Padding helpers
@each $name, $value in $padding-helper-values {
  .#{$padding-helper-name}-#{$name} {
    padding: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-v}-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-h}-#{$name} {
    padding-right: $value;
    padding-left: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-top}-#{$name} {
    padding-top: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-right}-#{$name} {
    padding-right: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-bottom}-#{$name} {
    padding-bottom: $value;
  }

  .#{$padding-helper-name}#{$helper-direction-left}-#{$name} {
    padding-left: $value;
  }
}

// Border radius helpers
@each $name, $value in $border-radius-helper-values {
  .#{$border-radius-helper-name}-#{$name} {
    border-radius: $value;
  }
}

// Size helpers
@each $name, $value in $width-helper-values {
  .#{$width-helper-name}-#{$name} {
    width: $value;
  }
}

// Overflow helpers
@each $name, $value in $overflow-helper-values {
  .#{$overflow-helper-name}-#{$name} {
    overflow: $value;
  }
}
