//
//  _helpers.scss
//

@each $name, $name-abbrev in $helper-types {
    @each $dir, $dir-abbrev in $helper-directions {
        @each $level, $size in $helper-sizes {
            .#{$name-abbrev}#{$dir-abbrev}-#{$level} {
                @if $dir == vertical {
                    #{$name}-top: $size;
                    #{$name}-bottom: $size;
                } @else if $dir == horizontal {
                    #{$name}-left: $size;
                    #{$name}-right: $size;
                } @else if $dir == both {
                    #{$name}: $size;
                } @else {
                    #{$name}-#{$dir}: $size;
                }
            }
        }        
    }
}

.r-full {
    border-radius: 50%;
}

.w-full {
    width: 100%;
}

w.max-full {
    max-width: 100%;
}

.w-half {
    width: 50%;
}

.p-left {
    float: left;
}

.p-center {
    margin: 0 auto;
}

.p-right {
    float: right;
}

.p-clear {
    clear: both;
}
