.container {
    width: calc(100% - #{$container-margin} * 2);
    margin: 0 auto;

    &.no-edges {
        width: 100%;
    }

    @each $name, $size in $breakpoints {
        @include min-viewport($size) {
            &.#{$name} {
                max-width: $size;
            }
        }
    }
}

.section {
    padding: $section-padding 0;
}
