.layout {
    width: 100%;
    margin: 0 auto;

    padding: 0 $layout-margin;

    &.no-edges {
        padding: 0;
    }

    @each $name, $size in $breakpoints {
        @include min-viewport($size) {
            &.#{$name} {
                max-width: $size;
            }
        }
        @include min-viewport($size + $layout-margin * 2) {
            &.#{$name} {
                padding: 0;
            }
        }
    }
}
