//
//  _layout.scss
//

.container {
    @include container-margin($container-margin-normal);
    margin: 0 auto;

    &.margin-none {
        width: 100%;
    }

    &.margin-small {
        @include container-margin($container-margin-small);
    }

    &.margin-medium {
        @include container-margin($container-margin-medium);
    }

    &.margin-large {
        @include container-margin($container-margin-large);
    }

    @each $name, $size in $breakpoints {
        @include min-viewport($size) {
            &.#{$name} {
                max-width: $size;
            }
        }
    }
}

.section {
    padding: $section-padding-normal 0;

    &.padding-none {
        padding: 0;
    }

    &.huge {
        padding: $section-padding-huge 0;
    }

    &.large {
        padding: $section-padding-large 0;
    }

    &.medium {
        padding: $section-padding-medium 0;
    }

    &.small {
        padding: $section-padding-small 0;
    }
}
