//
//  _table.scss
//

.scrollable-table {
    overflow:   auto;
}

table {
    border-collapse:    collapse;
    text-align:         $table-text-align;
}

th, td {
    padding:    $table-col-padding;
}

thead {
    border-bottom:  $table-split-width $table-split-style $table-split-color;
}

.table-borders {
    th, td {
        border: $table-border-width $table-border-style $table-border-color;
    }
}

.table-borders-v {
    th, td {
        border-top:     $table-border-width $table-border-style $table-border-color;
        border-bottom:  $table-border-width $table-border-style $table-border-color;
    }
}

.table-borders-v {
    th, td {
        border-left:    $table-border-width $table-border-style $table-border-color;
        border-right:   $table-border-width $table-border-style $table-border-color;
    }
}

.table-header thead {
    background-color:   $table-background-color;
}

.table-split-none thead {
    border-bottom:  0
}

.table-stripes tbody {
    tr:nth-child(even) {
        background-color:   $table-background-color;
    }
}

.table-checker tbody tr {
    &:nth-child(odd) {
        td:nth-child(odd) {
            background-color:   $table-background-color;
        }
    }

    &:nth-child(even) {
        td:nth-child(even) {
            background-color:   $table-background-color;
        }
    }
}
