//
//  _table.scss
//

.scrollable-table {
    overflow: auto;
}

table {
    border-collapse: collapse;
    text-align: $table-text-align;
}

th, td {
    padding: $table-data-padding;
}

thead {
    border-bottom: $table-split-width $table-split-style $table-split-color;
}

.borders {
    th, td {
        border: $table-border-width $table-border-style $table-border-color;
    }
}

.header thead {
    background-color: $table-background-color;
}

.split-none thead {
    border-bottom: 0
}

.stripes tbody {
    tr:nth-child(even) {
        background-color: $table-background-color;
    }
}

.checker tbody tr {
    &:nth-child(odd) {
        td:nth-child(odd) {
            background-color: $table-background-color;
        }
    }

    &:nth-child(even) {
        td:nth-child(even) {
            background-color: $table-background-color;
        }
    }
}
