//
//  _tag.scss
//

$tag-padding: 0.1em 0.5em;
$tag-wide-padding: 0.25rem 1rem;
$tag-border-radius: 0.25em;
$tags-gap: 0.75em;

.tag {
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    .button-icon {
        font-size: 0.75em;
    
        margin-right: 0.5em;
        margin-left: 0.5em;

        &:first-child {
            margin-right: 0.5em;
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
            margin-left: 0.5em;
        }
    }
}

.tag-container {
    display: flex;

    .tag {
        border-radius: 0;
    }

    .tag:first-child {
        border-bottom-left-radius: $tag-border-radius;
        border-top-left-radius: $tag-border-radius;
    }

    .tag:last-child {
        border-top-right-radius: $tag-border-radius;
        border-bottom-right-radius: $tag-border-radius;
    }
}
