//
//  _text.scss
//

body {
  font-family: $font-stack;
  line-height: $line-height;
  color: $text-color;
}

// Title

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  margin: 0;
  margin-bottom: $title-margin;
  font-weight: $title-weight;

  &:last-child {
    margin-bottom: 0;
  }
}

.title-bordered {
  border-bottom: 1px solid $color-lightest;
}

h1 {
  font-size: $text-size-1;
}

h2 {
  font-size: $text-size-2;
}

h3 {
  font-size: $text-size-3;
}

h4 {
  font-size: $text-size-4;
}

h5 {
  font-size: $text-size-5;
}

h6 {
  font-size: $text-size-6;
}

// Paragraph

p,
.paragraph {
  margin: 0;
  margin-bottom: $paragraph-margin;
  line-height: $paragraph-line-height;
  font-weight: $paragraph-weight;

  &:last-child {
    margin-bottom: 0;
  }
}

// Link

a,
.link {
  color: $link-color;
  text-decoration: none;

  &:hover {
    @extend .text-underline;
  }
}

// Code

code {
  background-color: $code-background-color;
  border: $code-border-width $code-border-style $code-border-color;
  border-radius: $code-border-radius;
  color: $code-color;
  font-family: $monospace;
  font-size: 0.875rem;
  line-height: $code-inline-line-height;
  padding: $code-padding;
  white-space: pre;
}

pre code {
  display: block;
  line-height: $code-block-line-height;
  overflow: auto;
  padding: $code-block-padding;
}

// Text decoration

.text-decoration-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Text weight

.text-thin {
  font-weight: 100;
}

.text-extralight {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 800;
}

.text-heavy {
  font-weight: 900;
}

// Font families

.text-sans-serif {
  font-family: $sans-serif;
}

.text-serif {
  font-family: $serif;
}

.text-monospace {
  font-family: $monospace;
}

.text-spacing-none {
  margin-bottom: 0;
}

.text-negative {
  margin-bottom: $text-negative-margin;
}

// Text spacing

.text-size-1 {
  font-size: $text-size-1;
}

.text-size-2 {
  font-size: $text-size-2;
}

.text-size-3 {
  font-size: $text-size-3;
}

.text-size-4 {
  font-size: $text-size-4;
}

.text-size-5 {
  font-size: $text-size-5;
}

.text-size-6 {
  font-size: $text-size-6;
}

.text-size-7 {
  font-size: $text-size-7;
}

.text-size-8 {
  font-size: $text-size-8;
}

@include each-breakpoint() {
  // Text alignment

  @include global-property(text-left) {
    text-align: left;
  }

  @include global-property(text-center) {
    text-align: center;
  }

  @include global-property(text-right) {
    text-align: right;
  }

  @include global-property(text-justify) {
    text-align: justify;
  }

  // Title sizes

  @include global-property(title-extra) {
    font-size: $title-extra;
  }

  @include global-property(title-huge) {
    font-size: $title-huge;
  }

  @include global-property(title-large) {
    font-size: $title-large;
  }

  @include global-property(title-medium) {
    font-size: $title-medium;
  }

  @include global-property(title-small) {
    font-size: $title-small;
  }
}
