<footer class="footer">
  <div class="footer-navigation">
    {% for section in site.data.footer.navigation.sections %}
      <div class="footer-section">
        <p class="footer-section-title">
          {{ section.title }}
        </p>

        <ul class="footer-section-items">
          {% for item in section.items %}
            <li class="footer-section-item">
              <a class="footer-section-anchor" href={{ item.href }}>
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</footer>
