---
layout: default
---

<section class="tg-section doc-page">
  <div class="tg-container">
    <div class="breadcrumb">
      {% assign parts = page.dir | split: "/" %}
      {% assign length = parts.size | minus: 1 %}

      {% for i in (1..length) %}

        <div class="breadcrumb__item">
          <a href="{{ site.baseurl }}/{{ parts | slice: 1, i | join: "/" }}">{{ parts[i] | capitalize }}</a>
        </div>
      {% endfor %}

      <div class="breadcrumb__item breadcrumb__item--current">
        {{ page.title }}
      </div>
    </div>

    <p class="doc-page__title">
      {{ page.title }}
    </p>

    <main class="doc-page__content">
      {{ content }}
    <main>
  </div>
</section>
