.page,
.doc-page {
  font-family: $sans-serif;
}


.doc-page__content {
  display: flex;
  flex-direction: column;

  >:not(last-child) {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.75;
    color: #32495d;
  }

  h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 400;
    color: #32495d;
  }

  ul {
    color: #32495d;
    margin-left: 2rem;

    li:not(last-child) {
      margin-bottom: 1rem;
    }
  }
}


.breadcrumb {
  display: flex;

  margin-bottom: 2rem;

  font-size: 1.15rem;
  color: #32495d;
}


.breadcrumb__item {
  a {
    font-size: 1.15rem;
    text-decoration: none;
    color: #32495d;
    transition: 200ms color;

    &:hover {
      color: lighten(#32495d, 15%);
    }
  }

  &:not(:last-child)::after {
    content: "›";

    margin: 0 0.5rem;
  }
}


.breadcrumb__item--current {
  font-weight: 900;
}


.doc-page__title {
  font-family: $title-font;
  font-size: 2rem;
  font-weight: 700;
  color: #32495d;
  margin-bottom: 1rem;

  @media only screen and (min-width: 64em) {
    font-size: 3rem;
  }
}


.doc-page__lead {
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 2;
  color: #32495d;
}


.highlighter-rouge {
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0 #00000010;

  background-color: #f8f3ed;
  color: #c3a888;

  &.language-html::before {
    content: "HTML";

    display: block;

    border-bottom: 1px solid #c3a888;

    padding: 1rem;

    font-weight: 700;
  }

  > .highlight {
    overflow: auto;
    padding: 1rem;

    line-height: 1.75;
  }
}


.doc-card__container {
  text-decoration: none;
}


.doc-card {
  border: 1px solid #f0f0f0;
  padding: 1.5rem;

  font-family: $sans-serif;

  border-radius: 0.5rem;

  background-color: #fff;
  box-shadow: 0 0 1rem 0 #00000011;
  transition: box-shadow 300ms;

  .doc-card__title {
    font-family: $title-font;
    font-size: 1.1rem;
    font-weight: 600;
    color: #32495d;
  }

  &:hover {
    box-shadow: 0 0 1rem 0 #00000021;
  }
}


.doc__keyword {
  display: inline-block;

  padding: 0 0.333rem;


  font-family: $monospace;
  color: #fa8383;

  background-color: #f8f3ed;
  border-radius: 0.25rem;
}
