@import "common.scss";


.footer {
  background-color: #f7f7f7;
}


.footer__header {
  @media only screen and (min-width: 64em) {
    text-align: right;
    line-height: 1.5;
  }

  @media only screen and (min-width: 75em) {
    position: absolute;
    right: 0
  }
}


.footer__content {
  position: relative;
}


.footer__navigation-wrapper {
  @media only screen and (min-width: 75em) {
    padding-top: 0 !important;
  }
}


.footer__text-logo {
  font-size: 2rem;
  font-family: $monospace;
  text-transform: lowercase;
  color: #32495d;

  user-select: none;
}


.footer__documentation-links {
  margin-top: 0rem;
}


.footer__version-text {
  font-family: $monospace;
  font-size: 1rem;
  color: #92adc4;
}


.footer__link {
  font-family: $sans-serif;
  text-decoration: none;
  color: #32495d;
  transition: 200ms color;

  &:hover {
    color: lighten(#32495d, 15%);
  }
}


.footer__link--primary {
  font-family: $title-font;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}


.footer__copyright {
  font-family: $sans-serif;
  font-size: 0.9rem;
  line-height: 1.75;
  color: #92adc4;

  @media only screen and (min-width: 48em) {
    text-align: right;
  }

  .footer__link {
    font-family: $sans-serif;
  }
}


.footer__icon-link {
  fill: #32495d;
}
