@import "common.scss";

.jumbo {
  min-height: 60vh;
  display: flex;
  align-items: center;
}


.jumbo__text-logo {
  width: min-content;

  margin: 0 auto;

  font-family: $monospace;
  font-size: 4rem;
  text-align: right;
  line-height: 1.2;
  color: #32495d;

  user-select: none;

  @media only screen and (min-width: 48em) {
    font-size: 5rem;
  }

  @media only screen and (min-width: 75em) {
    margin: unset;

    display: flex;

    font-size: 4rem;
  }

  @media only screen and (min-width: 90em) {
    margin: unset;

    display: flex;

    font-size: 5rem;
  }
}


.jumbo__text-logo--accent {
  color: #da526b;
}


.jumbo__button {
  display: block;

  padding: 1rem;

  border-radius: 0.25rem;
  
  font-weight: 700;
  font-family: $title-font;
  text-align: center;
  text-decoration: none;
}


.jumbo__button--primary {
  background-color: #32495d;
  color: #fff;
}


.jumbo__button--secondary {
  background-color: #f8f3ed;
  color: #32495d;
}


.jumbo__button--red {
  background-color: #da526b;
  color: #fff;
}


.jumbo__description {
  font-family: $title-font;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #32495d;

  @media only screen and (min-width: 75em) {
    font-size: 2rem;
    text-align: left;
  }
}
