/*
 * src/position/align.scss
 */

@use "variant";

@include variant.generate {
  @include variant.declare(x-between) {
    justify-content: space-between;
  }

  @include variant.declare(x-around) {
    justify-content: space-around;
  }

  @include variant.declare(x-evenly) {
    justify-content: space-evenly;
  }

  @include variant.declare(y-between) {
    align-content: space-between;
  }

  @include variant.declare(y-around) {
    align-content: space-around;
  }

  @include variant.declare(y-evenly) {
    align-content: space-evenly;
  }

  @include variant.declare(between) {
    justify-content: space-between;
    align-content: space-between;
  }

  @include variant.declare(around) {
    justify-content: space-around;
    align-content: space-around;
  }

  @include variant.declare(evenly) {
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
