/*
 * util/string.scss
 */

@use "sass:string";

@function join($list) {
  $result: null;

  @each $item in $list {
    $result: $result + $item;
  }

  @return $result;
}

@function replace-first($string, $pattern, $replacement) {
  $index: string.index($string, $pattern);

  @return if(
    $index,
    join(
      (
        string.slice($string, 1, $index - 1),
        $replacement,
        string.slice($string, $index + string.length($pattern))
      )
    ),
    $string
  );
}
