---
---

@import "tidgrid";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "doc-page.scss";

.icon--xs {
  width: 2rem;
  height: 2rem;
}


.icon--sm {
  width: 3rem;
  height: 3rem;
}


body {
  min-height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  background-size: 5rem 5rem;
  background-image:
    linear-gradient(to right, #f7f7f7 1px, transparent 1px),
    linear-gradient(to bottom, #f7f7f7 1px, transparent 1px);
}


.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.page-content__home {
  justify-content: center;
}
