$bg-color: #f6f7f8;
$section-title-font: bold 0.875rem Lato;
$section-title-color: #32495d;

$section-item-anchor-font: 1rem Lato;
$section-item-anchor-color: #84919d;
$section-item-anchor-color-hover: #50A5AF;

.footer {
  background-color: $bg-color;
  padding: 2rem;
}

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.footer-section-title {
  font: $section-title-font;
  text-transform: uppercase;
  color: $section-title-color;
  margin-bottom: 0.85rem;
}

.footer-section-items {
  list-style-type: none;
}

.footer-section-item:not(:last-child) {
  margin-bottom: 0.85rem;
}

.footer-section-anchor {
  font: $section-item-anchor-font;
  text-decoration: none;
  color: $section-item-anchor-color;

  &:visited {
    color: $section-item-anchor-color;
  }

  &:hover {
    color: $section-item-anchor-color-hover;
    text-decoration: underline;
  }
}

.footer-license {
  margin-top: 1rem;
}
