.header {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  display: block;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header-icon-logo {
  background-image: url("/assets/tidgrid-logo.svg");
}

.header-icon-menu {
  background-image: url("/assets/menu-icon.svg");
}

.header-icon-md {
  width: 2rem;
}

.header-icon-sm {
  width: 1.25rem;
}
