//
//  _breaks.scss
//

@include each-breakpoint() {
    @include global-property(break) {
        width: 100%;
        display: block;       
    }

    @include global-property(break-none) {
        display: none;
    }
}