//
//  _row.scss
//

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include gap($default-gap);
}

@include each-breakpoint() {
  @include global-property(row-auto) {
    @include child-col() {
      @include col-auto();
    }
  }

  @include global-property(row-wide) {
    @include child-col() {
      @include col-wide();
    }
  }

  @include global-property(row-shrink) {
    @include child-col() {
      @include col-shrink();
    }
  }

  @include global-property(row-narrow) {
    @include child-col() {
      @include col-narrow();
    }
  }

  @include each-column() using ($column) {
    $column-width: #{100% / $columns * $column};

    @include global-property(row-colspan-#{$column}) {
      @include child-col() {
        @include col-span($column-width);
      }
    }
  }
  @include global-property(row-reverse) {
    flex-flow: row-reverse wrap-reverse;
  }

  @include global-property(row-reverse-none) {
    flex-flow: row wrap;
  }

  @include global-property(flex-wrap) {
    flex-wrap: wrap;
  }

  @include global-property(row-wrap-none) {
    flex-wrap: nowrap;
  }
}
