/*
 rs* src/helpers/margin.scss
 */

@use "variant";

$margins: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  10: 1rem,
  20: 1.25rem,
  30: 1.5rem,
  40: 1.75rem,
  100: 2rem,
  1000: 3rem,
  auto: auto
) !default;

@mixin margin-x($size) {
  margin-right: $size;
  margin-left: $size;
}

@mixin margin-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin margin($size, $direction: null) {
  @if $direction == left {
    margin-left: $size;
  } @else if $direction == right {
    margin-right: $size;
  } @else if $direction == top {
    margin-top: $size;
  } @else if $direction == bottom {
    margin-bottom: $size;
  } @else {
    margin: $size;
  }
}

@include variant.generate {
  @each $name, $size in $margins {
    @include variant.declare(m, $name) {
      @include margin($size);
    }

    @include variant.declare(mx, $name) {
      @include margin-x($size);
    }

    @include variant.declare(my, $name) {
      @include margin-y($size);
    }

    @include variant.declare(ml, $name) {
      @include margin($size, left);
    }

    @include variant.declare(mb, $name) {
      @include margin($size, bottom);
    }

    @include variant.declare(mr, $name) {
      @include margin($size, right);
    }

    @include variant.declare(mt, $name) {
      @include margin($size, top);
    }
  }
}
