/*
 * src/position/align.scss
 */

@use "variant";

@include variant.generate {
  @include variant.declare(x-start) {
    justify-content: flex-start;
  }

  @include variant.declare(x-centered) {
    justify-content: center;
  }

  @include variant.declare(x-end) {
    justify-content: flex-end;
  }

  @include variant.declare(x--none) {
    justify-content: unset;
  }

  @include variant.declare(y-start) {
    align-items: flex-start;
  }

  @include variant.declare(y-centered) {
    align-items: center;
  }

  @include variant.declare(y-end) {
    align-items: center;
  }

  @include variant.declare(y-align-none) {
    align-items: unset;
  }

  @include variant.declare(start) {
    justify-content: start;
    align-items: start;
  }

  @include variant.declare(centered) {
    justify-content: center;
    align-items: center;
  }

  @include variant.declare(end) {
    justify-content: end;
    align-items: end;
  }

  @include variant.declare(align-none) {
    justify-content: unset;
    align-items: unset;
  }
}
