/*
 * grid/cell.scss
 */

@use "mode";
@use "static";
@use "variant";

@include static.declare(cell) {
  /* When no breakpoint modifier is active, the default is to use stacked layout.
   * Cells are placed vertically, meaning 100% width with no flex. */
  @include mode.stacked;

  box-sizing: border-box;
}

@include variant.generate {
  @include variant.declare(first) {
    order: -2;
  }

  @include variant.declare(last) {
    order: 2;
  }
}
