/*
 * src/grid/gap.scss
 */

@use "variant";
@use "row";

$gaps: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 0.75rem,
  lg: 1rem,
  xl: 2rem,
) !default;

@mixin gap($size, $direction) {
  margin-#{if($direction == x, left, top)}: -$size;

  @include row.child-cell {
    padding-#{if($direction == x, left, top)}: $size;
  }
}

@mixin gaps($size) {
  @include gap($size, x);
  @include gap($size, y);
}

@include variant.generate {
  @each $name, $size in $gaps {
    @include variant.declare(gap, $name) {
      @include gaps($size);
    }

    @include variant.declare(x-gap, $name) {
      @include gap($size, x);
    }

    @include variant.declare(y-gap, $name) {
      @include gap($size, y);
    }
  }
}
