/*
 * grid/mode.scss
 */

@use "sass:math";
@use "util/string";

@mixin auto() {
  flex: 1 0 0;
  width: unset;
}

@mixin stacked() {
  flex: none;
  width: 100%;
}

@mixin thin() {
  flex: 0 1 0;
  width: unset;
  white-space: nowrap;
}

@mixin fill() {
  flex: 1 0 0;
  width: unset;
}

@mixin frac($fractions) {
  @each $name, $value in $fractions {
    $cell-width: math.percentage($value);
    $escaped-name: string.replace-first($name, "/", "\\/");

    @content($escaped-name, $cell-width);
  }
}

@mixin span($row-size) {
  @for $column from 1 through $row-size {
    $cell-width: #{math.div(100%, $row-size) * $column};
    @content($column, $cell-width);
  }
}
