/*
 * grid/row.scss
 */

@import "mode";
@import "../variant";

@mixin child-cell() {
  & > .tg-cell {
    @content;
  }
}

@include generate-variants {
  @include varying(tg-row) {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
  }

  @include varying(tg-auto) {
    @include child-cell {
      @include auto;
    }
  }

  @include varying(tg-stacked) {
    @include child-cell {
      @include stacked;
    }
  }

  @include varying(tg-thin) {
    @include child-cell {
      @include thin;
    }
  }

  @include varying(tg-fill) {
    @include child-cell {
      @include fill;
    }
  }
}
