/*
 * grid/row.scss
 */

@import "mode";

@mixin child-cell() {
  & > .tg-cell {
    @content;
  }
}

.tg-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.tg-row.tg-auto {
  @include child-cell() {
    @include auto();
  }
}

.tg-row.tg-stacked {
  @include child-cell() {
    @include stacked();
  }
}

.tg-row.tg-thin {
  @include child-cell() {
    @include thin();
  }
}

.tg-row.tg-fill {
  @include child-cell() {
    @include fill();
  }
}
