<footer class="tg-footer footer">
  <div class="tg-container">

    <div class="tg-row footer__content tg-pos-y(end) tg-space(between) tg-y-gap(xl)">
      
      <div class="tg-cell">
        <div class="footer__header tg-row tg-mode(thin)
          tg-space(between) tg-pos-y(end)
          lg:tg-mode(stacked)">
          <p class="tg-cell footer__text-logo">Tidgrid</p>
          <p class="tg-cell footer__version-text">v0.1-alpha</p>
        </div>
      </div>

      <!-- Footer navigation -->
      <div class="tg-cell footer__navigation-wrapper sm:tg-mode(thin)">
        <nav class="footer__navigation">

          <div class="tg-row md:tg-mode(thin) md:tg-x-gap(xl) tg-y-gap(lg)">

            <div class="tg-cell">
              <div class="tg-row tg-y-gap(lg)">
                <div class="tg-cell">
                  <a class="footer__link footer__link--primary" href="/">Home</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link footer__link--primary" href="/get-started">Get started</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link footer__link--primary" href="/examples">Examples</a>
                </div>
              </div>
            </div>

            <!-- Documentation -->
            <div class="tg-cell">
              <a class="footer__link footer__link--primary" href="/docs">Documentation</a>

              <div class="tg-row footer__documentation-links tg-y-gap(md)">
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/installation">Installation</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/grid">Grid</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/variants">Variants</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/layout">Layout</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/tidiness">Tidiness</a>
                </div>
                <div class="tg-cell">
                  <a class="footer__link" href="/docs/configuration">Configuration</a>
                </div>
              </div>
            </div>

          </div>

        </nav>
      </div>

      <div class="tg-cell sm:tg-mode(thin)">
        <div class="footer__copyright">
          <p>Source code licensed under
            <a class="footer__link footer__link--primary" href="https://github.com/sneikki/tidgrid/blob/master/LICENSE.md">MIT</a>
          </p>
          <p>Website licensed under
            <a class="footer__link footer__link--primary" href="https://creativecommons.org/licenses/by/3.0/">CC-BY-SA 3.0</a>
          </p>
        </div>
      </div>

    </div>

  </div>
</footer>
