$breakpoints: (
  xs: 36em, /* = 576 px */
  sm: 48em, /* = 768 px */
  md: 64em, /* = 1024 px */
  lg: 75em, /* = 1200 px */
  xl: 90em, /* = 1440 px */
) !default;

@mixin generate-variants {
  /* Generate the variant that is active when
   * no variant with breakpoint is is effect. */
  $breakpoint: null !global;
  @content;

  @each $key, $value in $breakpoints {
    @media only screen and (min-width: $value) {
      $breakpoint: $key !global;
      @content;
    }
  }
}

@mixin varying($name) {
  $class-name: $name;

  @if $breakpoint {
    $class-name: #{$breakpoint}\:#{$name};
  }

  .#{$class-name} {
    @content;
  }
}
