/*
 * variant.scss
 */

@use "sass:selector";
@use "util/string";
@use "namespace";

$default-breakpoints: (
  xs: 36em, /* = 576 px */
  sm: 48em, /* = 768 px */
  md: 64em, /* = 1024 px */
  lg: 75em, /* = 1200 px */
  xl: 90em, /* = 1440 px */
) !default;

@mixin generate($breakpoints: $default-breakpoints) {
  $breakpoint: null !global;
  @content;

  @each $key, $value in $breakpoints {
    @media only screen and (min-width: $value) {
      $breakpoint: $key !global;
      @content;
    }
  }
}

@mixin declare($property, $value) {
  $name: namespace.get-name($property, $value);
  $classname: $name;

  @if $breakpoint {
    $classname: #{$breakpoint}\:#{$name};
  }

  $selector: ".#{$classname}";

  @if & {
    $selector: "&.#{$classname}";
  }

  #{$selector} {
    @content;
  }
}
