//
//  _align.scss
//

@include each-breakpoint() {
    @include global-property(row-align-left) {
        justify-content: flex-start;
    }

    @include global-property(row-align-center) {
        justify-content: center;
    }

    @include global-property(row-align-right) {
        justify-content: flex-end;
    }

    @include global-property(row-align-top) {
        align-items: flex-start;
    }

    @include global-property(row-align-middle) {
        align-items: center;
    }

    @include global-property(row-align-bottom) {
        align-items: flex-start;
    }
}
