//
//  _space.scss
//

@include each-breakpoint() {
    @include global-property(space-between) {
        justify-content: space-between;
    }

    @include global-property(space-around) {
        justify-content: space-around;
    }

    @include global-property(space-evenly) {
        justify-content: space-evenly;
    }
}
