//
//  _space.scss
//

@include each-breakpoint() {
    @include global-property(row-space-between) {
        justify-content: space-between;
    }

    @include global-property(row-space-around) {
        justify-content: space-around;
    }

    @include global-property(row-space-evenly) {
        justify-content: space-evenly;
    }
}
