/*
 * src/layout/container.scss
 */

@use "sass:map";
@use "../static";
@use "../variant";

$margin: (left: 2rem, right: 2rem) !default;

@function get-margin($size, $max-width) {
  @return calc(#{$size} + (100% - #{$max-width}) / 2);
}

@mixin use-margin($margin, $max-width) {
  $right: map.get($margin, right);
  $left: map.get($margin, left);

  margin-right: max($left, get-margin($right, $max-width));
  margin-left: max($right, get-margin($left, $max-width));
  max-width: min(100%, #{calc($max-width - $left - $right)});
}

@include static.element(container) {
  @include use-margin($margin, 100%);

  @include variant.use-breakpoints using ($max-width) {
    @include use-margin($margin, $max-width);
  }
}

@include variant.for-breakpoints using ($key, $max-width) {
  @include static.declare(container, $key) {
    @include use-margin($margin, $max-width);
  }
}
