/*
 * src/layout/section.scss
 */

@use "sass:map";
@use "static";

$section-padding: (top: 3rem, bottom: 3rem) !default;
$footer-padding: (top: 3rem, bottom: 5rem) !default;

@mixin section($padding) {
  padding-top: map.get($section-padding, top);
  padding-bottom: map.get($section-padding, bottom);
}

@include static.element(section) {
  @include section($section-padding);
}

@include static.element(footer) {
  @include section($footer-padding);
}
